@import '../abstracts/variables';

.top-solicitud {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: $gap-lg;
    max-width: 95%;
    margin: 0 auto;

    div {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: $gap-md;
        align-items: stretch;
    }

    // 📱 Tablet
    @media (max-width: 992px) {
        img {
            display: block;
        }
    }

    // 📱 Mobile
    @media (max-width: 576px) {
        display: grid;
        grid-template-columns: repeat( 1 fr);
        gap: 40px;
        margin: 5%;

        img {
            max-width: 100%;
        }

        div {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 1rem;
        }
    }
}