@import '../abstracts/_variables.scss';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    height: 100%;
    font-family: $fuente-principal;
}

main {
    margin-top: 80px;
    background-image: url('../img/background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

hr {
    border: 0.5px solid black;
    margin: 10px ;
}