@import '../abstracts/_variables.scss';

@mixin caja($fondo, $borde) {
    background-color: $fondo;
    border: 4px solid $borde;
    border-radius: $radio-l;
    padding: 28px;
    font-size: $font-lg;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: $gap-md;
}
