// -------------------- 🎨 Colores --------------------
$color-naranja:        #f39555;
$color-naranja-hover:  #d66a2b;
$color-naranja-claro:  #ffebc7;
$color-celeste:        #109ED4;
$color-celeste-claro:  #B6E6F2;
$color-azul:           #026e87;
$color-azul-hover:     #025062;
$color-azul-oscuro:    #014251;
$color-texto:          #28262D;
$color-gris-claro:     #f5f5f5;
$color-blanco:         #ffffff;
$color-negro:          #000000;
$color-shadow-azul:    #007bff26;

// -------------------- 📐 Tamaños de texto --------------------
$font-xl: 40px;
$font-lg: 32px;
$font-md: 24px;
$font-sm: 18px;

// -------------------- 🔳 Espaciado y bordes --------------------
$espaciado-grande: 60px;
$espaciado-mediano: 40px;
$espaciado-chico: 20px;

$radio-l: 1rem;
$radio-m: 0.5rem;
$radio-s: 0.25rem;

// -------------------- 📱 Breakpoints --------------------
$break-sm: 576px;
$break-md: 768px;
$break-lg: 992px;
$break-xl: 1200px;